.back
{
    background-color: aqua;
}
.text
{
    color: red;
    font-size: 50px;
}
.back1
{
    background-color: violet;
}
.text:hover
{
    color: brown;
    font-size: 100px;
}.text1
{
    color: blue;
    font-size: 50px;
}
.text2
{
    color: red;
    font-size: 50px;
}
.back2
{
    background-image:url(../image/add1.jpg) ;
}
.back3
{
    background-image: url(../image/sub.jpg);
}